@import 'reset';
@import 'fonts';


//==============================================================

//==============================================================            

//          MEDIA

//  @media (max-width: 991.98px){}

//  @media (max-width: 767.98px){}
    
//  @media (max-width: 479.98px){}

//==============================================================

//==============================================================




//==============================================================

//==============================================================   

//          RE-USE

//  .container{}

//  .button{}

//  .title{}

//==============================================================

//==============================================================   




//  body{}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: clip;
}

.page{
    flex: 1 1 auto;
}


@import 'header';
@import 'footer';
